extends layout

block content
  h1= title
  p Paste any images you like into Minecraft skin!
  form(action="/", method="post", enctype="multipart/form-data")
    div Front image
      br
      input(type="file", name="frontImg")
    div Back image
      br
      input(type="file", name="backImg")
    div Fill color
      br
      input(type="color", name="color", value="#ededed")
    br
    input(type="submit", value="Create skin")
    br
    br
  hr
  section
    h2
      a(href='https://github.com/pawel5z/image2minecraft-skin-app#tutorial') Tutorial
