doctype html
html
  head
    title= 'Image to Minecraft skin'
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      footer
        hr
        table(class="center")
          tr
            th(colspan="3")
              a(href="https://github.com/pawel5z/image2minecraft-skin-app#tutorial", target="_blank") Tutorial
          tr
            th(colspan="3")
              a(href="https://github.com/pawel5z/image2minecraft-skin-app", target="_blank")
                img(src="https://img.shields.io/badge/Source%20code--blue?style=social&logo=github", alt="Source code")
          tr
            th
              img(alt="GitHub watchers" src="https://img.shields.io/github/watchers/pawel5z/image2minecraft-skin-app?style=social")
            th
              img(alt="GitHub forks" src="https://img.shields.io/github/forks/pawel5z/image2minecraft-skin-app?style=social")
            th
              img(alt="GitHub Repo stars" src="https://img.shields.io/github/stars/pawel5z/image2minecraft-skin-app?style=social")
