body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  max-width: 960px;
  margin: auto;
}

a {
  color: #00B7FF;
}

img {
  padding: 5px;
}

input {
  padding: 2px;
}

.error {
  color: orangered;
}